{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


{% block content %}

{% comment %} <div id="header-image"><img src="/static/images/cupcake-2.png" alt="Shecoders" style="width:100%;"></div> {% endcomment %}

<div class="external-div">
    <h2>Latest News</h2>
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
</div>    
<div class="new-story">
    <a class="button" href="{% url 'news:newStory' %}">Write New Story</a>
</div>   

<div class="external-div" id="external-div2"> 
    <h2>All News</h2>
        <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
            {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}