{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel=" stylesheet " type="text/css" href="{ % static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">...</div>{% endblock %}Check the styles were applied:http://localhost:8000/news/5/6


<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{% static '/news/images/placeholder-5.jpg' %}">
        {{ story.content|linebreaks }}
    </div>
</div>

{ % endblock % }